*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    height: 300vh;
}

#one{
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

#two{
    width: 100%;
    height: 10%;
    background-color: rgb(196, 196, 196);
}

#box{
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
}